/*@import '~node_modules/font-awesome/css/font-awesome.min.css';*/
/*@import '~font-awesome.min.css';*/
/*require('node_modules/font-awesome/css/font-awesome.min.css');*/
/*<link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import './lib/assets/stylesheets/reset.scss';
/*@import './lib/assets/stylesheets/nav_bar.css';*/
/*@import './lib/assets/background.png';*/

/*TODO -- need to figure out how to import from node modules (i think i need to include a loader (eg. url-loader) for certain files: gif, eot, woff, ttf, svg)*/
/*@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

@font-face {
    font-family: "logofont";
    src: url("./lib/assets/fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff") format('woff');
}

/*.app {
  background-color: green;
  height: 50px;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}*/


html, body, #root {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body > div {
  height: 100%;
  width: 100%;
}

.page {
  background-image: url('./lib/assets/images/background.png');
  /*background-image: url("http://res.cloudinary.com/delisauce/image/upload/v1506389418/ZeroWaste/background.png");*/
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav_bar_container {
  width: 100%;
  height: 9%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
/*Opacity fix*/
.nav_bar_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: grey;
  opacity: 0.3;

}
.nav_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar_left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*box-sizing: border-box;
  border: 1px solid red;*/
}
.nav_bar_right {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  /*box-sizing: border-box;
  border: 1px solid yellow;*/
}

.nav_icons_container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 60%;
  /*padding: 0.5em;*/
}

.logo_and_selected_icon_color {
  color: #f6f6f6;
}

.logo {
  composes: logo_and_selected_icon_color;
  font-family: 'logofont';
  font-size: 2.8em;
  margin: 0 0.7em 0 0.7em;
  background-color: transparent;
}
.nav_button_press_response {
  width: 70px;
  height: 100%;
  opacity: 1;
  /*background-color: red;*/
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.nav_button_press_response:active {
    background-color: yellow;
}
.nav_button_fa {
  color: #a8a6a6;
  /*margin-left: 0.7em;*/
}
.nav_button_fa_selected {
  composes: logo_and_selected_icon_color;
}
.email_button {
  /*margin-right: 5%;*/
  opacity: 1;
  /*border-radius: 7px;*/
  color: #0f3356;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  background-color: #f6f6f6;
  font-size: 1.0em;
  text-transform: uppercase;
  /*animation: color_change1 5s infinite linear;*/
}
.email_button:active {
  background-color: yellow;
}

@keyframes color_change1 {
  0%   {background-color: #f6f6f6;}
  50%  {background-color: #4286f4;}
  100% {background-color: #f6f6f6;}
}
@keyframes color_change2 {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

@keyframes rotateY {
 to { transform: rotateY(360deg); }
}




.tip_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  padding: 5% 0 5% 10%;
  color: white;
}
.tip_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 20%;*/
  width: 100%;
  color: white;
  font-size: 2.8em;
  box-sizing: border-box;
  margin-bottom: 3%;
}
.tip_subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 20%;*/
  width: 100%;
  color: white;
  font-size: 1.9em;
  box-sizing: border-box;
  margin-bottom: 3%;
}
.tip_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
  width: 100%;
  line-height: 2.1em;
}
.tip_img {
  width: 68%;
  /*max-height: auto;*/
}
.tip_textbox_and_buttons {
  width: auto;
  height: 100%;
  margin-left: 2.5em;
  margin-right: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tip_textbox {
  height: 80%;
  overflow-y: scroll;
  /*margin-left: 5%;*/
  color: white;
  font-size: 1.2em;
}
.tip_buttons_container {
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tip_button {
  width: 40%;
  height: 100%;
  color: grey;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  border: .2em grey solid;
}

.tip_button:hover {
  background-color: lightgray;
}








.landing_page {
  background-image: url('./lib/assets/images/landingpage-background.png');
  /*background-image: url("http://res.cloudinary.com/delisauce/image/upload/v1506389418/ZeroWaste/landingpage-background.png");*/
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.landing_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*box-sizing: border-box;
  border: 1px red solid;*/
}
.landing_text {
  color: white;
  font-size: 3em;
  /*box-sizing: border-box;
  border: 1px red solid;*/
}
.landing_text1 {
  composes: landing_text;
  margin: 2.0em 0 .1em 0;
  /*animation-name: fade-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;*/
}
.landing_text2 {
  composes: landing_text;
  margin: .1em 0 .5em 0;
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.landing_page_button_container {
  display: flex;
  width: 50%;
  padding-top: 7%;
  flex-direction: row;
  justify-content: space-between;
  /*box-sizing: border-box;
  border: 1px red solid;*/
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.landing_page_button {
  font-size: 1.1em;
  color: grey;
  width: 12em;
  height: 3em;
  background-color: white;
  border-radius: .15em;
  border: .1em solid grey;
  text-align: center;
  /*margin-right: 4.0em;*/
}

.landing_page_button:hover {
  background-color: lightgray;
}
.landing_page_site_selection_container:hover .landing_page_button {
  background-color: lightgray;
}

/* The container <div> - needed to position the dropdown content */
.landing_page_site_selection_container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  /*width: 12em;*/
  /*border: 1px solid red;*/
  /*height: 100px;*/
}
/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  /*height: 14em;*/
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*overflow-y: scroll;*/
  width: 100%;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown_content button {
  font-size: .9em;
  color: grey;
  width: 100%;
  padding: .2em .2em;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown_content button:hover {
  background-color: #f1f1f1
}
/* Show the dropdown menu on hover */
.landing_page_site_selection_container:hover .dropdown_content {
  display: block;
}


/*.landing_page_site_selection_container {
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
}*/
/*.landing_page_site_button {
  font-size: 1em;
  width: 8em;
  height: 4em;
  margin: 1em 1em 1em 1em;
  background-color: gray;
  border-radius: .3em;
  border: .1em solid grey;
  text-align: center;
}*/




.main_view {
  width: 100%;
  height: 85%;
  box-sizing: border-box;
  /*border: 1px red solid;*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer_container {
  width: 100%;
  height: 6%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
/*Opacity fix*/
.footer_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: grey;
  opacity: 0.3;
}
.footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_left {
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_right {
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.template {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: lightblue;
}

.carousel {
  width:100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /*line-height: 50px;
  text-align:center;
  top:0;
  position:absolute;*/
}

/*.example-appear {
  background-color: yellow;
  opacity: 0.01;
}

.example-appear.example-appear-active {
  background-color: red;
  opacity: 1;
  transition: opacity .5s ease-in;
}*/
.socialIcons-enter {
    opacity: 0.01;
}
.socialIcons-enter.socialIcons-enter-active {
  opacity: 1;
  transition: all 1000ms cubic-bezier(0.0,0.0,0.2,1);
}
.socialIcons-leave {
  opacity: 1;
}
.socialIcons-leave.socialIcons-leave-active {
    opacity: 0;
    transition: all 1000ms cubic-bezier(0.0,0.0,0.2,1);
}
.socialAccounts div {
  position: absolute;
}

.example-enter {
  background-color: white;
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  background-color: white;
  transition: opacity 1500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.carousel-appear {
  opacity: 0.01;
}

.carousel-appear.carousel-appear-active {
 opacity: 1;
 transition: opacity .5s ease-in;
}

.carousel-enter {
  transform: translateX(100%);
  transition: 0.3s transform ease-in-out;
}
.carousel-enter-active {
  transform: translateX(0);
}
.carousel-leave {
  transform: translateX(0);
  transition: 0.3s transform ease-in-out;
}
.carousel-leave-active {
   transform: translateX(-100%);
}

/*.gallery {
  height: 100%;
  width: 100%;
}
.carousel2-enter {
  opacity: 0.01;
  transform: translateX(100vw);

}

.carousel2-enter.carousel2-enter-active {
  opacity: 1;
  transition:  4000ms ease-out;
  transform: translateX(0%);
}

.carousel2-leave {
  opacity: 1;
  transform: translateX(0%);
}

.carousel2-leave.carousel2-leave-active {
  opacity: 0.01;
  transition: 4000ms ease-out;
  transform: translateX(-100vw);
}*/



.line_chart_view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*box-sizing: border-box;
  border: 1px solid red;*/
}
.line_chart_header {
  flex: 10;
  width: 100%;
  font-size: 2.0em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  color: white;
  /*box-sizing: border-box;
  border: 1px solid red;*/
}


.xLabel_chart_and_legend_container {
  width: 100%;
  flex: 83;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*box-sizing: border-box;
  border: 1px solid pink;*/
}
.yLabel_container {
  display: flex;
  position: relative;
  height: 1px;
  width: 3%;
  align-items: center;
  /*box-sizing: border-box;
  border: 1px solid red;*/
}
.yAxisLabel {
  position: absolute;
  top: 0;
  left: 100%;
  transform: rotate(-90deg) translate(-50%, -100%);
  transform-origin: left top 0;
  color: white;
  font-size: 1.4em;
  /*box-sizing: border-box;
  border: 1px solid yellow;*/
}
.xAxisLabel {
  flex: 7;
  width: 75%;
  color: white;
  margin-left: 5%;
  font-size: 1.4em;
  text-align: center;

  /*box-sizing: border-box;
  border: 1px solid yellow;*/
}
.chart_container {
  height: 100%;
  width: 77%;
  /*box-sizing: border-box;
  border: 1px solid red;*/
}
.legend_container {
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  justify-content: flex-start;
  /*box-sizing: border-box;
  border: 1px solid red;*/
}
.chart_legend_row {
  display: flex;
  align-items: center;
  height: 8%;
  flex-direction: row;
  /*box-sizing: border-box;
  border: 1px solid red;*/
  margin: 1% 0 1% 0;
  color: white;
}
.legend_color_indicator {
  height: 30px;
  width: 30px;
  /*border: 1px solid black;*/
  margin-right: 2%;
}


.selector {
  /*position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  left: 600px;
  right: 0;*/
  /*box-sizing: border-box;
  border: 1px solid red;*/
}

.leader_board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.leader_board_header {
  /*border: 1px red solid;*/
  box-sizing: border-box;
  color: white;
  width: 80%;
  flex: 2;
  font-size: 2.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}
.leader_rows {
  flex: 9;
  width: 80%;
  margin-bottom: 5%;
  margin-right: 10%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;

}
.leader_row {
  flex: 1;

  /*border: 1px red solid;*/
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: .45% 0em .45% 0em;

  width: 80%;
}
.leader_row_selected {
  composes: leader_row;
  flex: 1.3;
}

.rank_and_slug_container {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /*border: 1px red solid;*/
  box-sizing: border-box;
}

.opacityFixContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.rank_circle {
  opacity: 0.5;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: enlarge;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.rank_circle_selected {
  composes: rank_circle;
  opacity: 1;
  border: solid 3px #D0D3D3;
}

.rank_text {
  font-family: "HelveticaNeue-Light","HelveticaNeue-Bold", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
@media (max-width: 2999px) {
  .rank_text {
    font-size: 0.95em; }
}
@media (min-width: 3000px) {
  .rank_text {
    font-size: 1.2em; }
}

.rank_text_selected {
  font-family: "HelveticaNeue-Light","HelveticaNeue-Bold", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
@media (max-width: 2999px) {
  .rank_text_selected {
    font-size: 1.15em;
  }
}
@media (min-width: 3000px) {
  .rank_text_selected {
    font-size: 2em;
  }
}

.slugContainer {
  /*width and height set using inline styles*/
  margin-right: 3%;
}

.slug {
  /*border: 1px red solid;*/
  box-sizing: border-box;
  border-radius: 50%;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: solid 3px #D0D3D3;


  animation-duration: .6s, .3s;
  animation-name: enlarge, slide;
  animation-fill-mode: forwards, forwards;
  /*animation-delay: .2s, 1s;*/
}

@keyframes slide {
  from {
    left: -200%;
  }
  to {
    left: 0%;
  }
}
@keyframes enlarge {
  from {
    width: 0;
    height: 0;
    top: 50%;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
  }
}

.details_container {
  flex: 5;
  /*width: 60%;*/
  height: 100%;
  position: relative;
  /*display: flex;*/
  justify-content: center;
  box-sizing: border-box;

}

/*Opacity fix*/
.details_container::before {
  content: '';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 93%;
  height: 100%;
  background: grey;
  border-radius: 12px;
  opacity: 0.5;
}
.details {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 93%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 3%;
  /*border: solid 1px grey;*/
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
}
.details_selected {
  composes: details;
  width: 96%;
  border: solid 3px #D0D3D3;
  /*background-color: lightgrey;*/
}

.details_text {
  height: 100%;
  font-size: 1.2em;
  align-items: center;
  box-sizing: border-box;
  /*padding: 1em;*/
  display: flex;
}
.details_site {
  composes: details_text;
  width: 80%;
  justify-content: flex-start;
}
.details_site_selected {
  composes: details_text;
  width: 80%;
  justify-content: flex-start;
  font-size: 1.8em;
}

.details_ratio {
  composes: details_text;
  width: 20%;
  justify-content: flex-end;
}
.details_ratio_selected {
  composes: details_text;
  width: 20%;
  justify-content: flex-end;
  font-size: 1.8em;
}





/*TODO may want to create a hover effect for viewing on the web*/
/*.nav_button:hover, .nav_button_selected:hover {
  background-color: lightgreen;
}*/


/*.slick-list {
  height: 50%;
}
.slick-list div {
  box-sizing: border-box;
  border: 1px solid red;
}
.slick-track {
  height: 100%;
}*/
/*.slick-slider {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid red;
}*/

/*.slick-arrow.slick-next {
  height: 100px;
  box-sizing: border-box;
  background-color: red;
}*/

/*.slick-initialized.slick-slider aka slider
.slick-list
.slick-track
.slick-slide.slick-active aka slide*/


/*Slider Settings: these settings keep the slide frames at 100% height*/
.slider {
  display: flex;
  height: 100%;
  width: 94%;
  box-sizing: border-box;
  /*border: 1px solid green;*/
  /*border: 1px solid red;*/
}
.slider > button {
  /*box-sizing: border-box;
  border: 1px solid red;*/
}
.slider > div {
  display: flex;
  height: 100%;
  width: 100%;
  /*box-sizing: border-box;*/
  /*border: 1px solid red;*/
}
.slider > div > div {
  display: flex;
  height: 100%;
  width: 100%;
  /*box-sizing: border-box;*/
  /*border: 1px solid red;*/
}


.router_fill {

}

.router_content {
  display: 'flex';
  flex-direction: 'column';
  height: '500px';
  width: '100%';
  text-align: 'center';
}

.router_content > span {
  display: 'flex';
  flex-direction: 'column';
  height: '100%';
  width: '100%';
}

.router_navItem {
  text-align: 'center';
  flex: 1;
  list-style-type: 'none';
  padding: '10px';
}

.router_nav {
  display: flex;
  flex-direction: row;
  height: '20%';
  width: '100%';
}

.router_div {
  color: 'white';
  padding-top: '20px';
  font-size: '30px';
  border: 1px red solid;
  box-sizing: border-box;
  background-color: blue;
}

router_a {
  display: 'flex';
  flex-direction: 'column';
  height: '100%';
  width: '100%';
}

.marker_college_labels {
  font-size: 1.18em;
  line-height: 1.3em;
  padding-top: 0.1em;
}


/*TABLE VIEW SETTINGS*/
table {
  border-collapse: collapse;
  width: 100%;
}
caption {
  font-size: 2em;
  color: white;
  margin: .5em 0;
}
tr {
  height: 2.5em;
}
td, th {
  box-sizing: border-box;
  border: 1px solid black;
}
thead {
  background-color: grey;
}
tbody tr:nth-child(even) {
  background-color: #dddddd;
}
tbody tr:nth-child(odd) {
  background-color: #c6b6b6;
}
