/*@import '~node_modules/font-awesome/css/font-awesome.min.css';*/
/*@import '~font-awesome.min.css';*/
/*require('node_modules/font-awesome/css/font-awesome.min.css');*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import './lib/assets/stylesheets/reset.css';
/*@import './lib/assets/stylesheets/nav_bar.css';*/
/*@import './lib/assets/background.png';*/

/*TODO -- need to figure out how to import from node modules (i think i need to include a loader (eg. url-loader) for certain files: gif, eot, woff, ttf, svg)*/
/*@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

/*.app {
  background-color: green;
  height: 50px;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}*/

.page {
  background-image: url('./lib/assets/images/background.png');
  background-size: cover;;
  background-position: 100% 100%;
}

html {
  /*display: flex;*/
  height: 100vh;
  width: 100vw;
  /*flex: 1;*/
}

body, #root {
  /*display: flex;*/
  height: 100%;
  width: 100%;
  /*flex: 1;*/
}

body > div {
  /*display: flex;*/
  height: 100%;
  width: 100%;
  /*flex: 1;*/
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}

.nav_bar_container {
  width: 100%;
  height: 10%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
/*Opacity fix*/
.nav_bar_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: grey;
  opacity: 0.3;
}
.nav_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_button {
  width: 70px;
  height: 100%;
  opacity: 1;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav_button_selected {
  composes: nav_button;
}
.nav_button_fa {
  color: grey;
}
.nav_button_fa_selected {
  composes: nav_button_fa;
  color: black;
}

.main_view {
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer_container {
  width: 100%;
  height: 10%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
/*Opacity fix*/
.footer_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: grey;
  opacity: 0.3;
}
.footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.template {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: lightblue;
}

.leader_board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}



.line_chart_container {
  /*display: inline-block;*/
  /*vertical-align: top;*/
  /*flex-direction: column;
  align-items: center;*/
  width: 100%;
  height: 100%;
  /*border: 2px solid red;*/
}
.line_chart_container > div {
  /*display: inline-block;*/
  /*flex-direction: column;
  align-items: center;*/
  width: 100%;
  height: 100%;
  /*border: 2px solid red;*/
}


/*TODO - temporary fix for mis-aligned graph*/
.line_chart_container  svg {
  /*border: 2px solid red;*/
  /*position: relative;*/
  /*bottom: 450px;*/
}
.line_chart {
  /*border: 2px solid blue;*/
  /*width: 200px;*/
  /*height: 100px;*/
}



.leader_board_header {
  width: 80%;
  font-size: 2em;
  text-align: left;
}
.leaderRow {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.rank {
  border: solid 1px grey;
  border-radius: 50%;
  background-color: grey;
  /*width: 100vh;*/
  /*padding-top: 100%;*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.rank_selected {
  composes: rank;
  background-color: lightgrey;
}

.slug_not_selected {
  height: 100%;
  border-radius: 50%;
}

.slug {
  composes: slug_not_selected;
  background-image: url('./lib/assets/images/slug.png');
  background-size: cover;
  background-position: 100% 100%;
}

.details {
  width: 70%;
  height: 100%;
  border: solid 1px grey;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details_selected {
  composes: details;
  border: solid 3px grey;
  background-color: lightgrey;
}


/*TODO create transistion*/
.nav_button:active, .nav_button_selected:active {
  background-color: #5f6266;
}

/*TODO may want to create a hover effect for viewing on the web*/
/*.nav_button:hover, .nav_button_selected:hover {
  background-color: lightgreen;
}*/
.slick-list {
  height: 100%;

}
.slick-track {
  height: 100%;
}
.slick-slider {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid red;
}



/*Slider Settings: these settings keep the slide frames at 100% height*/
.slider {
  display: flex;
  height: 94%;
  width: 94%;
  /*box-sizing: border-box;*/
  /*border: 1px solid red;*/
}
.slider > button {
  box-sizing: border-box;
  border: 1px solid red;
}
.slider > div {
  display: flex;
  height: 100%;
  width: 100%;
  /*box-sizing: border-box;*/
  /*border: 1px solid red;*/
}
.slider > div > div {
  display: flex;
  height: 100%;
  width: 100%;
  /*box-sizing: border-box;*/
  /*border: 1px solid red;*/
}

/*.slider div {
  height: 100%;
}*/
